.item-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: solid red; */
    width: 100%;
    height: auto;
    padding: 1.5rem;
    border-bottom: solid 1px rgb(218, 218, 218);
    transition: 200ms ease;
  }

  .item-container-trashed {
    transform: translateX(50px)
  }

  .cart-item-img-container {
    /* width: auto; */
    height: 200px;
    /* border: solid green; */
  }

  .cart-item-img-container img {
    height: 100%;
    width: auto;
    min-width: 135px;
    border-radius: 2px;
  }

  .cart-item-info-container {
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: solid blue; */
    padding: 0 1rem 0rem 1rem;
    gap: 5px;
  }

  .item-info-top {
    font-size: .8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    /* border: solid blue; */
    padding: 0 0rem .5rem 0rem;
    gap: 10px;
  }

  .highlight-info {
    background-color: rgb(240, 240, 240);
    padding: .2rem .5rem;
    border-radius: 2px;
    color: #161616;
  }

  .item-info-bottom {
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    /* border: solid red; */
  }

  .btn-section {
    /* border: solid green; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
  }

  .btn-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    z-index: 46;
  }

  .btn-section i {
    z-index: 45;

  }

  .btn-section button:hover {
    background-color: rgb(205, 205, 205);
  }

  .quantity-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    height: 100%;
    width: auto;
    /* border: solid red; */
  }

  @media only screen and (max-width: 500px) {
    .item-info-bottom {
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }

    .cart-item-info-container {
      padding: 0 0 0 1rem;
    }

    .item-container {
      padding: .8rem;
    }

  }