.acct-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 115px 3rem 3rem 3rem;
    height: auto;
}

.acct-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
}

.acct-heading-container h1 {
    font-weight: bold;
    font-size: 2rem;
}

#desktop-acct-mobile {
    display: none;
}

.acct-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.info-section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 25%;
    gap: 1.5rem;
    min-width: 332px;
}

.acct-info-profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    height: auto;
    border-radius: 3px;
}

.acct-avatar-container {
    /* border: solid red; */
    height: 100%;
    width: auto;
}

.acct-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #161616;
    color: white;
    border-radius: 50%;
    font-size: 1.5rem;
}

.acct-profile-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    /* border: solid blue; */
    height: 100%;
    width: 100%;
}

.acct-username {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 85%;
}

.acct-email {
    font-weight: 300;
    color: #555555;
    font-size: 1rem;
}

.acct-logout {
    font-weight: 600;
    font-size: 1rem;
    text-decoration: underline;
}

.address-book-container {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    border-radius: 3px;
}

.address-book-container p {
    text-decoration: underline;
}

.acct-return-container {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.acct-return-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    background-color: #555555;
    padding: .8rem 0;
    border-radius: 100px;
    transition: 100ms ease-out;
}

.acct-return-container button:hover {
    background-color: #424141;
}

.apps-blogs-header {
    font-weight: 600;
    font-size: 1.5rem;
}

.download-fitness-app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 500px;
    background-image: url('../../assets/blog.jpg');
    background-size: cover;
    background-position: 40%;
    border-radius: 3px;
    position: relative;
    color: white;
}

.order-section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 72%;
    /* border: solid blue */
}

.order-header-container {
    /* border: solid red; */
    width: 100%;

}

.order-header-container h3 {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 85%;
}

.order-feed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: auto;
    /* border: solid blue; */
}

.order-feed-container img {
    height: 150px;
    width: auto;
}

@media only screen and (max-width: 1024px) {
    .acct-section-container {
        padding: 80px 1rem 1rem 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .acct-section-wrapper {
        align-items: stretch;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .order-section-container {
        width: 100%;
    }

    .info-section-container {
        width: 100%;
    }

    #desktop-acct-info {
        display: none;
    }

    #desktop-acct-mobile {
        display: flex;
    }

    .acct-heading-container {
        align-items: flex-start;
        padding: 2rem 0 1rem 0;
        gap: 1rem;
    }
    
    .acct-heading-container h1 {
        font-weight: bold;
        font-size: 1.5rem;
    }

}